/*
!lib/
!icon-scripts
.DS_Store
src/
*eslintrc.js
*eslintrc.yml
*tsconfig.tsbuildinfo
*package-lock.json
*tsconfig.json
*jestSetupFiles*
*-test.js
*-test.js.map
*.test.d.ts
*.test.js
*.test.js.map
app/*
!app/lib/
!app/inject/
!app/nativefier.json
!app/package.json
